---

---

<section id="services">
	<div class="container px-4">
		<div class="text-center mx-auto mb-16">
			<h2 class="display-4">How it works</h2>
			<p class="lead">
				These services are designed to streamline your digital life,
				enhance productivity, and ensure your important information is
				always accessible and secure. We're here to help you get
				organized and stay that way.
			</p>
		</div>
		<div class="row g-4">
			<div class="col-md-4">
				<div class="card h-100 shadow-sm">
					<div class="card-body text-center p-4">
						<div
							class="icon mb-3 d-flex align-items-center justify-content-center mx-auto">
							<i class="las la-search fa-3x text-white"></i>
						</div>
						<h3 class="h5 mb-3">Discovery & Assessment</h3>
						<p>
							Depending on the <a href="#services">service</a> you
							choose, we will start with a questionnaire to better
							understand your needs.
						</p>
						<p>
							We start with a comprehensive review of your current
							digital setup, identifying areas that need
							organization and improvement.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100 shadow-sm">
					<div class="card-body text-center p-4">
						<div
							class="icon mb-3 d-flex align-items-center justify-content-center mx-auto">
							<i class="las la-cogs fa-3x text-white"></i>
						</div>
						<h3 class="h5 mb-3">Customized Solutions</h3>
						<p class="mb-0">
							After meeting you and discussing your needs in a
							call or in person, we develop a tailored plan to
							organize your passwords, files, and media, ensuring
							easy access and enhanced security.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card h-100 shadow-sm">
					<div class="card-body text-center p-4">
						<div
							class="icon mb-3 d-flex align-items-center justify-content-center mx-auto">
							<i class="las la-rocket text-white fa-3x"></i>
						</div>
						<h3 class="h5 mb-3">Implementation & Training</h3>
						<p class="mb-0">
							We help implement the organization plan and provide
							guidance to ensure you can maintain your organized
							digital life.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mt-4">
			<div class="button-group">
				<a href="/contact" class="btn btn-primary me-2">
					Get Started Today
				</a>
			</div>
		</div>
	</div>
	<style>
		#services {
			margin-top: 5rem;
		}
		h2 {
			margin-bottom: 1.5rem;
		}
		a {
			color: #fff;
		}

		#services .lead {
			max-width: 600px;
			margin: 0 auto 30px;
		}
		.card {
			color: white;
			background-color: var(--color-primary-light);
		}
		.card-body p + p {
			margin-top: 1rem;
		}
		.button-group {
			justify-content: center;
			margin-top: 2em;
		}
	</style>
</section>
